$height: 80px;

.header {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  .container {
    height: $height;
  }
  &__left, &__right {
    float: left;
    width: 50%;
  }
  &__right {
    text-align: right;
  }
}

.user {
  margin-top: ($height - 62px)/2;
  &__ava {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid #bebebe;
    border-radius: 50%;
    img {
      display: block;
      width: 60px;
      height: 60px;
    }
  }
  &__fio {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 6px;
  }
}

.contacts {
  position: relative;
  display: inline-block;
  margin-top: ($height - 28px)/2 + 2px;
  &__link {
    background: url('../img/decor/dotted-border.png') 0 bottom repeat-x;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color: #33c1e3;
  }
  &:hover &__link {
    color: #e85f61;
    background: url('../img/decor/dotted-border-hover.png') 0 bottom repeat-x;
  }
  &:hover .contacts__list {
    left: 50%;
    opacity: 1;
  }
  &:hover .contacts__list-triangle {
    left: 50%;
    opacity: 1;
  }
  &__list {
    left: -9999px;
    opacity: 0;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    text-align: left;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 15px 20px;
    background: #fff;
    margin-top: 12px;
    z-index: 20;
    &:before {
      content: '';
      width: 100%;
      height: 25px;
      top: -25px;
      left: 0;
      position: absolute;
    }
    &-triangle {
      left: -9999px;
      opacity: 0;
      position: absolute;
      bottom: -2px;
      z-index: 25;
      &:before, &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-width: 0;
        top: 0;
        position: absolute;
        left: 0;
        transform: translate(-50%);
      }
      &:before {
        border-bottom-color: #dedede;
      }
      &:after {
        border-bottom-color: #fff;
        margin-top: 1px;
      }
    }
  }
  &__item {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    &-link {
      font-family: fira_sanslight, Arial, sans-serif;
      font-size: 18px;
      color: #414141;
      text-decoration: none;
      white-space: nowrap;
      i {
        color: #33c1e3;
        margin-right: 15px;
      }
    }
  }
}